/* global */
:root {
  --dark-bg: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* end of global */

/* classes */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.active {
  color: rgb(32, 201, 151);
}
/* end of classes */

/* header start */
header {
  background-color: var(--dark-bg);
  color: var(--main-color);
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header #nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

header ul li {
  padding: 10px 5px;
  color: rgb(165, 165, 165);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}

header ul li:hover {
  color: rgb(32, 201, 151);
}

header ul li a i {
  font-size: 16px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
/* header end */
/* gallery start here */
body {
  background-color: #000;
}
.gallery .gallery-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}
img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  /* added after adding card img:hover  start line 124*/
  transition: transform 0.5s, filter 0.5s;
}

.card {
  width: calc(100%);
  position: relative;
  /* added after adding card img:hover  start line 124*/
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: calc(33.333% - 1rem);
  }
}
.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: background-color 0.5s;
  pointer-events: none;
}

.card:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}
.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 5;
  text-align: center;
}
.card-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.card-content button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.5s;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  lighting-color: 17px;
  letter-spacing: 1px;
}

.card img:hover {
  filter: grayscale(0);
  /* uncomment  pointer-events: none; for card-content so hover will work*/
  transform: scale(1.02);
  /* uncomment  overflow: hidden; for card*/
}
